body {
  font-family: 'Share Tech Mono', monospace;
  font-size: 24px;
}

/* ready state */

.ready-state-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.title {
  font-size: 68px;
}

.typing-gif {
  border-radius: 10px;
  margin: 30px;
}

.go-button {
  background: #0ecc88;
  border-radius: 10px;
  padding: 10px 20px;
  color: black;
  cursor: pointer;
}

.go-button:hover {
  background: #099c67;
}

/* playing state */

.playing-state-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.current-goal {
  margin-bottom: 20px;
}

.typing-container {
  display: flex;
}

.typing-area {
  white-space: pre;
}

